<h1>Listing bonuses</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Age</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bonuses.each do |bonus| %>
  <tr>
    <td><%= bonus.amount %></td>
    <td><%= bonus.age %></td>
    <td><%= bonus.company_id %></td>
    <td><%= link_to 'Show', bonus %></td>
    <td><%= link_to 'Edit', edit_bonus_path(bonus) %></td>
    <td><%= link_to 'Destroy', bonus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bonus', new_bonus_path %>
