<h1>Listing bonuses</h1>

<p><%= @ranking_title %></p>

<table>
  <tr>
    <th>Amount</th>
    <th>Age</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @bonuses.each do |bonus| %>
    <tr>
      <td>￥<%= bonus.amount %></td>
      <td><%= link_to "#{bonus.age}歳", :action => :list, :mode => :age, :age => bonus.age %></td>
      <td><%= link_to "#{bonus.company.name}", :action => :list, :mode => :company, :company_id => bonus.company.id %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Register', :action => :register %>
