<h1>2012冬ボーナスいくらもらった？</h1>

<%= form_for @bonus, :url => {:action => :register} do |f| %>
  <table>
    <tr>
      <td>金額(単位:円)</td>
      <td><%= f.text_field :amount %>円</td>
    </tr>
    <tr>
      <td>会社名</td>
      <td><%= f.text_field :company_name %></td>
    </tr>
    <tr>
      <td>年齢</td>
      <td><%= f.text_field :age %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit '投稿' %></td>
    </tr>
  </table>
<% end %>

<br>
<%= link_to 'View Ranking', :action => :list %>
