<h1>2012冬ボーナスいくらもらった？</h1>

<%= render "social" %>

<% if @bonus.errors.any? %>
  <table>
    <ul>
      <% @bonus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <table>
<% end %>

<%= form_for @bonus, :url => {:action => :register} do |f| %>
    <div class="control-group <%= @bonus.errors[:amount].empty? || 'error' %>">
      <%= f.label :amount, "金額（必須）" %>
      <div class="input-append">
        <%= f.text_field :amount, :placeholder => "例）500000" %>
        <span class="add-on">円</span>
      </div>
    </div>

    <div class="control-group <%= @bonus.errors[:company_name].empty? || 'error' %>">
      <%= f.label :company_name, "会社名（必須）" %>
      <%= f.text_field :company_name, :placeholder => "例）ほげほげ商事" %>
    </div>

    <div class="control-group <%= @bonus.errors[:age].empty? || 'error' %>">
      <%= f.label :age, "年齢（必須）" %>
      <div class="input-append">
        <%= f.text_field :age, :placeholder => "例）28", :class => "input-small"%>
        <span class="add-on">歳</span>
      </div>
    </div>

    <div class="control-group <%= @bonus.errors[:comment].empty? || 'error' %>">
      <%= f.label :comment %>
      <%= f.text_field :comment, :placeholder => "任意（256文字以内）", :class => "input-xlarge" %>
    </div>

    <div class="form-actions">
      <%= f.button '投稿', :class => "btn btn-primary" %>
    </div>
    <%= link_to '金額を登録せずにランキングを見る', :action => :list %>
<% end %>



