<h1>New bonus</h1>

<%= form_for @bonus, :url => {:action => :register} do |f| %>
  <p>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.fields_for :company do |f2| %>
      <%= f2.label :name %>
      <%= f2.text_field :name %>
    <% end %>
  </p>
  <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.submit '投稿' %>
  </p>
<% end %>

<br>
<%= link_to 'View Ranking', :action => :list %>
