<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @bonus.amount %>
</p>

<p>
  <b>Age:</b>
  <%= @bonus.age %>
</p>

<p>
  <b>Company:</b>
  <%= @bonus.company_id %>
</p>


<%= link_to 'Edit', edit_bonus_path(@bonus) %> |
<%= link_to 'Back', bonuses_path %>
