<!DOCTYPE html>
<html lang="ja">
<head>
  <title>うわっ...私の年収、低すぎ...？ - 給料がいかに安いかを匿名で告白するサイト -</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <%= render "ad_banner" %>

  <div style="text-align:center">
    <h1>うわっ...私の年収、低すぎ...？</h1>
    <p class="lead">- 給料がいかに安いかを匿名で告白するサイト -</p>
    <%= render "social" %>
  </div>

  <%= yield %>
  <%= render "ad_banner_bottom" %>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>

<%= render "analytics" %>

</body>
</html>
