<!DOCTYPE html>
<html lang="ja">
<head>
  <title>うわっ...私の年収、低すぎ...？ - 給与情報を共有しよう</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <%= render "ad_banner" %>
  <%= render "social" %>
  <%= yield %>
  <%= render "ad_banner_bottom" %>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>

<%= render "analytics" %>

</body>
</html>
