<!DOCTYPE html>
<html lang="ja">
<head>
  <title>年収・賞与データベース</title>
  <meta name="description" content="各企業の年収・賞与を匿名で登録、共有するサイト"></meta>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <%= render "ad_banner" %>

  <div style="text-align:center">
    <h1>年収・賞与データベース</h1>
    <p class="lead">- 各企業の年収・賞与を匿名で登録、共有するサイト -</p>
    
    <%= render "social" %>
  </div>

  <%= yield %>
  <%= render "ad_banner_bottom" %>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>

<%= render "analytics" %>

</body>
</html>
